////////////////////////////////////////////////////////////////////////////////
//
//  Ads - Top
//
////////////////////////////////////////////////////////////////////////////////

.ad-header-container {
  background-color: $mineshaft;
  text-align: center;

  .container {
    position: relative;
    padding: 0;
  }

  img {
    margin: 10px 0;
  }

}

////////////////////////////////////////////////////////////////////////////////
//
//  Ads - Right
//
////////////////////////////////////////////////////////////////////////////////

.right-rail-ad-container {
  text-align: center;
}
