button, a {
  &.learn-more,
  &.form-submit,
  &.download {
    background-color: $red;
    color: white;
    padding: 6px 34px 7px;
    border: 0;
    font-weight: normal;
    @include font-size(16);
    &:hover,
    &:active {
      background-color: rgba($red, 0.8);
      cursor: pointer;
    }
  }
}

button.form-submit {
  @include bp(tablet) {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      padding-top: 8px;
      padding-bottom: 6px;
    }
  }
}
a {
  &.learn-more {
    display: inline-block;
    @include bp(tablet) {
      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        padding-top: 8px;
        padding-bottom: 6px;
      }
    }

    &:hover {
      text-decoration: none;
    }
  }
}
