////////////////////////////////////////////////////////////////////////////////
//
//  Industry Spotlight slider
//
////////////////////////////////////////////////////////////////////////////////

.view-spotlight-slider {

	.slide__content {
		padding-left: 0;
		border: 0;
		border-radius: 0;
		margin: 0;
		list-style-type: none;

		li {
			box-sizing: border-box;
			width: 100%;
			padding: 15px 0 11px;
			background: #262626;

			.grid__content { padding: 0 2%; }
		}
	}

	#spotlight-slider {
		.slick-list { 
			margin: 0;
			padding: 0 !important; /*to override slider internal styling*/ 
		}
	}

	.slide__media {
		width: 45%;
		height: 257px;
		display: inline-block;
		position: static;

		@include responsive(0,1023px) {
			width: initial;
			height: auto;
			display: block;
		}

		> div {
			box-sizing: border-box;
			height: 100%;

			@include responsive(0,1023px) {
				padding: 0 4%;
			}

			@include responsive(0,550px) {
				padding: 0 3%; 		
			}

			&:before { box-shadow: none; }
		}

		img { 
			width: 100%;
			height: 100%; 
		}
	}

	.field-name-field-hero-image {
		> a { 
			height: 100%;
			display: block; 
			outline: 0;

			@include responsive(0,1023px) {
				display: block;		
			}
		}
	}

	.slick-track { 
		padding: 0;

		.slick__slide {
			outline: 0;
		} 
	}

	.slide__caption {
		box-sizing: border-box;
		position: static;
		margin: 0;
		width: 53%;
		display: inline-block;
		vertical-align: top;
		padding-left: 2%;

		@include responsive(0,1220px) {
			right: 0;		
		}

		@include responsive(0,1023px) {
			width: 100%;
			padding: 2% 4% 12%; 		
		}

		@include responsive(0,550px) {
			padding: 2% 3% 21%; 		
		}

		a {
			padding-bottom: 10px;
			color: #c32330;
			font-size: 28px;
			font-weight: 700;
			outline: 0;

			&:hover {
				@include responsive(0,1024px) {
					text-decoration: none; 		
				}				
			}

			@include responsive(0,900px) {
				font-size: 22px; 		
			}

			@include responsive(0,550px) {
				font-size: 16px; 		
			}
		}
	}

	.slide__description {
		span { 
			font-size: 16px;

			@include responsive(0,550px) {
				font-size: 12px; 		
			} 
		}
	}

	.slick__arrow {
		width: 8.5%;
		position: absolute;
		left: initial;
		right: 45.25%;
		top: initial;
		bottom: 20%;

		&:hover { color: #fff; }

		@include responsive(0,1023px) {
			left: 6%;
			bottom: 5.5%;
			width: auto;		
		}

		@include responsive(0,550px) {
			left: 3%; 
			bottom: 7.5%;		
		}

		.slick-prev { 
			left: 16%;

			&:before {
				position: relative;
				left: 12px;
			} 
		}

		.slick-next { 
			right: 0;

			&:before {
				position: relative;
				left: 14px;
			} 

			@include responsive(0,1160px) {
				right: -20%;		
			} 
		}

		button {
		    width: 37px;
		    height: 37px;
		    background: #414143;
		    border-radius: initial;

		    @include responsive(0,1023px) {
				position: static;		
			}

			&:before {
				font-family: 'fontAwesome';
				font-size: 30px;
				bottom: 1px;
			}
		}
	}
}

.front,
.not-front {
	.slick-slide {
		height: initial;
	}
}