////////////////////////////////////////////////////////////////////////////////
//
//  Newsletter block
//
////////////////////////////////////////////////////////////////////////////////

.newsletter-modal {
  iframe {
    background-color: $white;
    width: 650px;
    height: 605px;

    @media screen and (max-width: 690px) {
      width: 100%;
    }
  }
}

.newsletter {
  background: url(../images/backgrounds/newsletterbg-desktop.jpg) no-repeat top center;
  color: $white;
  cursor: pointer;
  height: 161px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
  width: 100%;

  @media screen and (max-width: 1000px) {
    margin: 0 auto;
    max-width: 300px;
  }

  .newsletter-overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(65,65,66, 0.5);
    transition: all 0.2s linear;
  }

  &:hover {
    .newsletter-overlay {
      background: none !important;
    }
  }
}

.newsletter-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 57px;
  left: 0;
  right: 0;
}

.newsletter-callout {
  @include font-size(24);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}

.newsletter-signup {
  @include font-size(14);

  .arrow {
    border-left-color: $white;
  }
}
