////////////////////////////////////////////////////////////////////////////////
//
//  #Layout
//
////////////////////////////////////////////////////////////////////////////////

.node-type-page {
  .node-type-1-content {
    width: 100%;
  }

  .sidebar-second {
    margin: 0;
    padding: 10px;
  }
}

.maintenance-page {
  .navbar-brand { display: none; }
}
