////////////////////////////////////////////////////////////////////////////////
//
//  #Layout (typographic responsive changes at 600px)
//
////////////////////////////////////////////////////////////////////////////////

.node-type-1-wrapper {
  background-color: $concrete;
  // margin-top: 200px;

  @include bp(mobile) {
    margin-top: 149px;
  }

  .left-menu {
    margin-left: 0;
    margin-top: 0;
    padding-top: 10px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0 10px 0 25px;

      li {
        border-bottom: 1px solid $alto;
        margin: 0;
        padding: 20px 0 16px 0;
        &.active a {
          color: $red;
        }
        @include bp(mobile) {
          &:last-child {
            border: none;
          }
        }
      }
    }

    a {
      font-family: 'EconSansRg';
      color: $black;

      &:hover {
        color: $red;
        text-decoration: none;
      }
    }
  }
}

// Mobile Nav for the left menu

.col.left-menu {
  @include bp(mobile) {
    display: none;
    &.expand {
      display: block;
      }
    }
  }

.left-menu-btn {
  display: none;
  @include bp(mobile) {
    display: block;
    float: right;
    width: 20px;
    margin: 4px 0 0;
    text-indent: -999em;
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2227%22%20height%3D%2216%22%20viewBox%3D%220%200%2027%2016%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23858585%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20d%3D%22M2.004-.008l11.496%2011.534%2011.496-11.534%202%202.481-13.496%2013.535-13.496-13.535%202-2.481z%22%20class%3D%22cls-1%22/%3E%3C/svg%3E');
    background-size: 20px auto;
    background-repeat: no-repeat;
    &.active {
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2227%22%20height%3D%2216%22%20viewBox%3D%220%200%2027%2016%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%20%7B%20fill%3A%20%23858585%3B%20fill-rule%3A%20evenodd%3B%20%7D%3C/style%3E%3C/defs%3E%3Cpath%20d%3D%22M24.996%2016.008l-11.496-11.534-11.496%2011.534-2-2.481%2013.496-13.535%2013.496%2013.535-2%202.481z%22%20class%3D%22cls-1%22/%3E%3C/svg%3E');
      }
   }
 }

.node-type-1-topMenu {
  background-color: $bonjour;
  border-bottom: 1px solid $alto;
  @include font-size(14);
  font-weight: bold;
  padding: 7px 10px 4px 10px;

  [class*="icon-"] {
    display: none;
    margin-right: 8px;
    @include bp(mobile) {
      display: inline-block;
    }
  }

  svg {
    path {
      fill: $gray;
    }
  }
}

.node-type-1-sharing {
  border-bottom: 1px solid $alto;
  margin-top: 24px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: right;

  [class*="icon-"] {
    cursor: pointer;
  }

  .icon-share {
    height: auto;
    width: 20px;
    path {
      fill: $red;
    }
  }
}

.node-type-1-content {
  width: 100%;
  position: relative;
  background-color: $white;
  border-left: 1px solid $alto;
  // margin-top: 0;
  // margin-bottom: 0;
  margin: 0 auto;
  // padding: 0 30px 30px;


  @media screen and (max-width: 600px) {
    padding-right: 15px;
    padding-left: 15px;
  }

  .node-type-1-container {
    width: 100%;
    // display: flex;
    @include flexbox;
    // flex-wrap: wrap;
    @include flex-wrap(wrap);
    // justify-content: center;
    @include justify-content(center);

    .slick-slider { margin-bottom: 0; }

    .node-type-1-element-1 {
      width: 19.86%;
      margin-right: 5.33%;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-right: 0;
        // order: 4;
        @include order(4);
        background-color: rgba(216, 216, 216, 0.3);
      }

      .mobile-wrapper {
        @media screen and (max-width: 768px) {
          width: 90%;
          margin: 0 auto;
        }
      }

      .editor-sponsors {
        .sponsored-by {
          text-align: left;
        }
      }

      .editor-profile { margin-top: 0; }
    }

    .content-body {
      width: 49.3%!important;
      margin-right: 5.06%;

      @media screen and (max-width: 768px) {
        width: 90%!important;
        margin: 23px auto 0;
        padding: 0;
        // order: 1;
        @include order(1);
      }

      .field-type-text-with-summary > div {
        a {
          text-decoration: none;
        }
      }

      a { 
        color: $mostlyblack; 
        text-decoration: underline;

        &:hover {
          color: #4e65e8;

          @media screen and (min-width: 1024px) {
            -webkit-transition: .3s all ease-in-out;
            -o-transition: .3s all ease-in-out;
            transition: .3s all ease-in-out;
          }
        }
      }

      

      h2,
      strong { 
        font-family: "Milo";
        font-size: 24px;
        color: $mostlyblack;
      }


      .download-link-bottom {
        padding: 0!important;
        margin-top: 29px;
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: bold!important;

        @media screen and (max-width: 1440px) { font-size: 18px; }
        a {
          // padding: 13px 11.6% 12px 5.3%;
          // position: relative;

          // @media screen and (max-width: 1440px) {
          //   padding-right: 10%;
          //   padding-left: 2.5%;
          // }

          // &:after {
          //   content: '';
          //   background: url(../images/icons/svg/download-report.svg) no-repeat;
          //   position: absolute;
          //   top: 9px;
          //   right: 33px;
          //   width: 23px;
          //   height: 25px;
          //   @media screen and (max-width: 1440px) { right: 15px; }
          //   @media screen and (max-width: 1440px) { right: 10px; }

          // }
        }
      }

      .field-name-field-summary {
        font-family: "Milo";
        margin-top: 0;
        margin-bottom: 30px;
        color: $mostlyblack;
      }
    }

    .reference-content .reference-container .col { float: left; }

    .more-from-series {
      width: 20.4%;
      padding: 0;
      margin-top: 0;
      font-family: 'Milo'!important;

      @media screen and (max-width: 768px) {
        width: 95%;
        margin-left: 5%;
        margin-bottom: 31px;
        // order: 2;
        @include order(2);

        &:before {
          content: '';
          width: 95%;
          height: 2px;
          margin-bottom: 34px;
          display: block;
          background-color: rgba(216, 216, 216, 0.7);
        }
      }

      .span_4_of_12 {
        width: 100%;
        height: auto!important;
        margin: 0;
        outline: none;

        @media screen and (min-width: 769px) {
          &:not(:first-child) { margin-top: 39px; }
        }

        @media screen and (max-width: 768px) {
          height: initial;
          margin: 0px 1.45% 0 0;
        }

        .field-name-field-primary-industry { display: none; }

        .field-content {
          a {
            // margin-top: 15px;
            position: relative;
            color: #404040;
            display: inline;
            font-family: "EconSansOs";
            font-size: 18px;
            // &::first-letter { text-transform: uppercase; }

            @media screen and (max-width: 768px) {
              display: block;
              margin-top: 21px;
            }
                
            &:after {
              content: "";
              width: 15px;
              height: 11px;
              position: absolute;
              margin: 7px 0 0 12px;
              background: url(../images/icons/svg/Group.svg) no-repeat;
              background-size: contain;
              -webkit-transition: 300ms -webkit-transform ease-in-out;
              transition: 300ms -webkit-transform ease-in-out;
              -o-transition: 300ms transform ease-in-out;
              transition: 300ms transform ease-in-out;
              transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
              transition: 300ms transform ease-in-out;
              
              &:first-letter { text-transform: uppercase !important; }

              @media screen and (max-width: 768px) {
                margin: 7px 0 0 12px;
              }
            }

            @media screen and (min-width: 1024px) {
              &:hover {
                &:after {
                  -webkit-transform: translateX(5px);
                  -moz-transform: translateX(5px);
                  -ms-transform: translateX(5px);
                  -o-transform: translateX(5px);
                  transform: translateX(5px);
                }
              }
            }
          }
        }
      }
    }

    .author-reference {
      width: 49.3%;
      padding: 0;

      @media screen and (max-width: 768px) {
        width: 95%;
        margin-left: 5%;
        margin-top: 0;

        &:before {
          content: '';
          width: 95%;
          height: 2px;
          margin-bottom: 34px;
          display: block;
          background-color: rgba(216, 216, 216, 0.7);
        }
      }

      h2 {
        position: relative;
        display: block;
        border-top: 1px solid rgba(216, 216, 216, 0.7);
        border-bottom: 1px solid rgba(216, 216, 216, 0.7);
        text-align: left;
        padding: 8px 0;
        margin-bottom: 57px;
        font-family: "EconSansOs";

        @media screen and (min-width: 769px) { padding-left: 3.1%; }
        @media screen and (max-width: 768px) {
          display: inline-block;
          margin-bottom: 23px;
          border: none;
          font-size: 18px;
          padding: 0;
          margin-left: 4.60%;

        }

        &::before {
          content: "";
          position: absolute;
          max-width: 67px;
          width: 9.4%;
          height: 2px;
          display: inline-block;
          background: #c32330;
          left: -11%;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);

          @media screen and (max-width: 768px) {
            width: 14%;
            left: -25%;
          }
        }
      }

      .span-4-of-12 {
        h3 {
          padding-top: 18px;
          margin-bottom: 16px;
          font-weight: 400;
        }

        .views-field-nothing + div {
          display: none;
          margin-top: 18px;
          line-height: 1.5;
          color: #404040;
          margin-bottom: 18px;
          font-weight: normal;
          font-size: 16px;
          padding-bottom: 18px;
          font-family: "EconSansOs";

          @media screen and (max-width: 990px) { font-size: 13px; }

          @include responsive(0,768px) {
            margin-bottom: 0;
          }
        }

        .views-field-nothing + div p {
          margin-bottom: 0;
          // font-family: MiloTEW01;
          font-family: "EconSansOs";
          font-size: 16px;
          font-weight: normal;
          color: #404040;

          @media screen and (max-width: 990px) { font-size: 13px; }

        }

        .views-field-view-node a {
          @media screen and (max-width: 768px) {
            margin-top: 18px;
          }
        }
      }
    }
  }

  .wrapper-outer-top,
  .wrapper-outer-bottom {
    width: 100%;
    position: absolute;
    z-index: 1;

    @media screen and (max-width: 768px) {
      position: initial;
    }
  }

  .wrapper-outer-top {
    // top: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    // @media screen and (max-width: 1440px) { top: 75px; }
    // @media screen and (max-width: 1300px) { top: 65px; }
    // @media screen and (max-width: 1010px) { top: 80px; }
    @media screen and (max-width: 768px) {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      margin-top: 29px;
      .wrapper {
        width: 90%;
        margin: 0 auto;
      }

      .date-social { display: none; }
    }
  }

  .wrapper-outer-bottom {
    display: none;
    // bottom: 80px;
    // @media screen and (max-width: 1440px) { bottom: 70px; }
    // @media screen and (max-width: 1300px) { bottom: 60px; }
    // @media screen and (max-width: 1010px) { bottom: 80px; }
    @media screen and (max-width: 768px) { display: block; }

    .wrapper {
      @media screen and (max-width: 768px) {
        margin-top: 30px;
        @include flexbox;
        @include justify-content(space-between);
        // display: flex;
        // justify-content: space-between;
      }
    }
  }


  .wrapper {
    width: 75.2%;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1680px) { width: 80%; }
    @media screen and (max-width: 1440px) { width: 85%; }
    @media screen and (max-width: 1024px) { width: 92.2%; }


    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;
      font-family: "Milo";
      display: inline-block;

      @media screen and (max-width: 768px) {
        font-size: 12px;
        color: #3d444e;
      }

      &:before {
        content: '';
        margin-bottom: 10px;
        width: 160.34%;
        height: 2px;
        display: block;
        background-color: $white;

        @media screen and (max-width: 768px) {
          width: 110.76%;
          height: 1px;
          margin-bottom: 3px;
          background-color: #3d444e;
        }
      }
    }
  }

  img[style*="float:left"] {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  img[style*="float:right"] {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .field-name-field-primary-industry {
    margin-top: 30px;
    margin-left: 15px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    @media screen and (max-width: 600px) {
      margin-left: 0;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  h1 {
    // width: 753px;
    width: 54%;
    // color: $tundora;
    font-family: 'Milo';
    // @include font-size(48);
    font-size: calc(18px + 1.25vw);
    // font-weight: 700;
    margin-top: 30px;
    // padding: 30px 12%;
    margin-bottom: 0;
    line-height: 1.11;
    letter-spacing: normal;
    color: $white;
    font-weight: normal;


    @media screen and (max-width: 1440px) {
      margin-top: 25px;
      font-size: calc(18px + 1.15vw);
    }
    @media screen and (max-width: 1300px) { margin-top: 20px; }
    @media screen and (max-width: 990px) { font-size: calc(18px + 1.05vw); }
    // @include responsive(0,1024px) { padding: 25px 8%; }

    // @include responsive(0,900px) { padding: 25px 4%; }

    @include responsive(0,768px) {
      // @include font-size(20);
      width: initial;
      margin-top: 11px;
      margin-bottom: 22px;
      font-size: 20px;
      color: #3d444e;
      font-weight: normal;
      color: #3d444e;
    }
  }

  .field-name-field-hero-image {

    // @media screen and (max-width: 1024px) {
    //   margin-top: 14px;
    // }

    img {
      width: 100%;
    }
  }

  .node-info-wrapper {
    width: 100%;
    margin-left: 0;

    @media screen and (max-width: 600px) {
      margin-left: 0;
    }
    [class*="icon-"] {
      margin-right: 0;
      height: 15px;
      width: 20px;
      svg {
        height: auto;
      }
    }

    .icon-calendar,
    .icon-location {
      display: none;
    }

    .icon-calendar svg {
      width: 12px;
    }
    .icon-location svg {
      width: 9px;
    }
    .publish-date {
      color: $white;
      // font-family: "Milo";
      font-family: "EconSansOs";
      font-size: 18px;
      @media screen and (max-width: 768px) {
        display: inline-block;
        color: #404040;
        font-size: 14px;
      }

      .field-type-datetime {
        padding: 0;
        display: inline;
      }
    }
    .region {
      display: none !important;
      .field-name-field-primary-region {
        display: inline;
      }
    }
  }

  .editor-card {
    // padding-left: 15px;
    display: inline-block;

    @include responsive(0,600px) {
      padding-left: 0;
      display: block;
    }

    .editor-image {
      display: none;
    }

    a {
      font-family: "Milo";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $white;
      display: none;

      @media screen and (max-width: 768px) {
        color: #404040;
        font-size: 14px;

        &:nth-child(2) { display: none }
      }
    }

    .field-type-image {
      float: left;
      margin-right: 10px;
    }
    .editor-name {
      display: inline-block;
      padding-top: 3px;
    }
  }

  .content-editor {
    display: none;
    // padding: 15px 12%;
    // border-bottom: 1px solid $alto;

    // @include responsive(0,1024px) { padding: 15px 8%; }

    // @include responsive(0,900px) { padding: 15px 4%; }

    // @include responsive(0,500px) { padding: 15px 0; }

    @media screen and (max-width: 768px) {
      // display: -webkit-box;
      // display: -ms-flexbox;
      // display: flex;
      @include flexbox;
      // -webkit-box-pack: justify;
      // -ms-flex-pack: justify;
      // justify-content: space-between;
      @include justify-content(space-between);
      // -webkit-box-align: end;
      // -ms-flex-align: end;
      // align-items: flex-end;
      @include align-items(flex-end);
      width: 90%;
      margin: 16px auto 14px;
    }

    .editor-sponsors .sponsored-by {
      @media screen and (max-width: 768px) {
        padding-bottom: 0;
      }
    }

    div:first-child a {
      margin-bottom: 15px;
      display: inline-block;
      color: #e60900;
      font-size: 14px;
      line-height: normal;
    }
  }

  .editor-profile {
    @include flexbox;
    // flex-direction: column;
    @include flex-direction(column);
    // padding: 30px 0;
    margin-top: 40px;
    font-family: 'Milo';
    @include clearfix;

    @media screen and (max-width: 768px) {
      padding: 0;
      margin: 0;
    }

    .left-corner {
      // float: left !important;
      // width: 130px;
      margin-bottom: 12px;

      @media screen and (max-width: 768px) {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        transform: translateY(-15px);
        margin-bottom: 0;
      }

      .editor-image {
        .editor-thumbnail-image {
          width: 111px!important;
          height: 111px!important;
        }
      }

      @include bp(mobile) {
        width: 100%;
      }
    }

    .right-corner {
      // float: right !important;
      // width: calc(100% - 147px);
      font-family: 'EconSansOs';
      @include bp(mobile) {
        width: 100%;
        padding-bottom: 37px;
      }
    }

    .editor-name {
      font-size: 16px;
      display: inline-block;
      line-height: 1.88;
      font-family: "Milo";

      @include responsive(0, 768px) {
        margin-top: 1px;
      }
    }

    .editor-contributor {
      width: 100%;
      display: inline-block;
      color: #404040;
      margin-bottom: 12px;
      line-height: 1.5;
      font-family: "Milo";
      font-size: 16px;

      @media screen and (max-width: 768px) { margin-bottom: 16px; }
    }

    .field-name-field-biography {
      color: #404040;
      font-family: "Milo";
      font-size: 16px;
      line-height: 1.63;

      &::before {
        content: '';
        width: 100%;
        height: 1px;
        margin-bottom: 12px;
        display: block;
        background-color: rgba(216, 216, 216, 0.7);

        @media screen and (max-width: 768px) {
          margin-bottom: 16px;
          background-color: rgba(216, 216, 216, 0.3);
        }
      }
    }

    .field-type-image {
      display: block;
      position: relative;
      width: 130px;
      height: 130px;
      overflow: hidden;

      @include bp(mobile) {
        width: inherit;
        height: inherit;
        overflow: none;
      }
      img {
        width: 180px;
        margin-left: -22px;
        max-width: inherit;

        @include bp(mobile) {
          width: 100%;
          margin: 0;
        }
      }

      &:before {
        content:'';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.3);
        box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.3);
      }
    }

    .editor-contact-info {
      margin-top: 15px;
      path {
        fill: $silversand;
      }
      .contact-label {
        display: inline-block;
        float: left;
        margin-right: 10px;
        color: $silversand;
      }
      .icons {
        a {
          margin-left: 10px;
        }
      }
    }
  }

  .field-type-datetime,
  .field-type-entityreference {
    color: $gray;
    padding: 0 15px 30px;

    @media screen and (max-width: 600px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .field-type-entityreference {
    border-bottom: 1px solid $alto;
  }

  .field-name-field-summary,
  .field-name-field-summary-en-gb {
    color: $gray;
    line-height: 32px;
    @include font-size(24);
  }

  .field-name-field-summary {
    @media screen and (max-width: 1024px) {
      @include font-size(20);
      line-height: 30px;
    }
  }

  // .field-name-field-summary,
  .field-name-field-summary-en-gb,
  // .field-name-body,
  .field-name-field-body-en-gb,
  .download-link {
    // margin-top: 30px;
    font-family: 'Milo';

    @media screen and (max-width: 600px) {
      padding-right: 0;
      padding-left: 0;
    }
  }



  .download-link-top {
    padding-top: 5px;
    float: right;

    @media screen and (max-width: 600px) {
      padding-top: 30px;
      display: block;
      float: none;
    }
  }
  .download-link.download-link-bottom {
    margin-top: 0;

    a {
      // background-color: #c32330;
      min-width: 230px;
      width: 11%;
      padding: 5px 15px;
      display: inline-block;
      // color: #c32330;
      color: #fff;
      background-color: #4054b3;
      font-size: 18px;
      font-family: "EconSansOs";
      text-decoration: none;

      padding: 8px 1% 8px 1%;
      position: relative;
      color: #fff;
      font-family: "Milo";
      font-size: 17px;
      font-weight: bold;
      background-color: #4054b3;
      text-decoration: none;

      &:hover {
        color: #fff;
        // text-decoration: underline;
        @media screen and (min-width: 1025px) {
          // background-color: #c32330;
        }
      }

      &::after {
        content: '';
        background: url(../images/icons/svg/download-report.svg) no-repeat;
        background-size: contain;
        position: absolute;
        top: 7px;
        right: 18px;
        width: 18px;
        height: 19px;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
      }
  
      //animation
      @keyframes bounces {
        0%, 100%, 20%, 50%, 80% {
          -webkit-transform: translateY(0);
          -moz-transform:    translateY(0);
          -ms-transform:     translateY(0);
          -o-transform:      translateY(0);
          transform:         translateY(0);
        }
        40% {
          -webkit-transform: translateY(-8px);
          -moz-transform:    translateY(-8px);
          -ms-transform:     translateY(-8px);
          -o-transform:      translateY(-8px);
          transform:         translateY(-8px)
        }
        60% {
          -webkit-transform: translateY(-5px);
          -moz-transform:    translateY(-5px);
          -ms-transform:     translateY(-5px);
          -o-transform:      translateY(-5px);
          transform:         translateY(-5px);
        }
      }
  
  
      &:hover::after {
        cursor: pointer;
  
        @media screen and (min-width: 1024px) {
          -webkit-animation-name: bounces;
          -moz-animation-name: bounces;
          animation-name: bounces;
        }
      }

    }

    .file-icon {
      display: none;
    }
  }

  .field-name-field-other-industries {
    background-color: grey;
    a {
      color: $white;
    }
  }

  .content-body .field-name-body img { margin: 5px 0; }

  .field-name-body,
  .field-name-field-body-en-gb,
  .content-body ul,
  .content-body > p {
    font-size: 18px;
    // line-height: 26px;
    line-height: 1.58;
    color: $mostlyblack;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 768px) { line-height: 1.67; }

    @include responsive(0,500px) { font-size: 16px; }

    iframe {
      // position: absolute;
      // top: 0;
      // left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .field-name-body {
    #shower,
    #hider {
      padding: 0;
      display: inline-block;
      background: transparent;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      outline: none;
      margin-left: 5px;
    }

    #hider { vertical-align: bottom; }

    @media screen and (min-width: 769px) {
      #shower,
      #hider { display: none; }
    }
  }

  .node-type-1-tags {
    clear: both;
    margin-top: 20px;
    padding: 0 15px;

    @media screen and (max-width: 600px) {
      padding-right: 0;
      padding-left: 0;
    }

    .field-name-field-primary-industry {
      margin-top: 5px;
      margin-left: 0;
    }
    .field-type-taxonomy-term-reference {
      color: $white;
    }
  }

  blockquote {
    color: $gray;
    line-height: 32px;
    width: 70%;
    @include font-size(24);

    @media screen and (max-width: 600px) {
      width: 100%;
      line-height: 24px;
      @include font-size(18);
    }

    p { display: inline; }
  }

  h4 {
    color: $frenchgray;
    @include font-size(14);
    font-weight: bold;
    margin-bottom: 15px;
  }
}

// Infographic
.node-type-infographic .field-name-field-hero-image {
  margin: 0 0 0 15px;
  @media screen and (max-width: 600px) {
    margin: 0;
  }
  img {
    width: 100%;
  }
}

// Sponsored by
.node-type-1-element-1 .mobile-wrapper .editor-sponsors { margin-bottom: 68px; }

.editor-sponsors {
  padding: 0 15px;
  .sponsored-by-logo {
    img {
      max-height: 100px;
      width: auto;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 0;
  }
  .sponsored-by-logo {
    display: inline-block;
    margin: 0 1em 1em 0;
    &:last-child {
      margin-right: 0;
    }
  }


  .sponsored-by .field-name-field-partner-copy {
    color: #121212;
    // font-family: "Milo";
    font-family: "EconSansOs";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.67;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      line-height: 2.14;
    }
  }
}




////////////////////////////////////////////////////////////////////////////////
//
//  WIZZYWIG Image caption styles
//
//  There are some seriously insane declarations here, but they are necessary in
//  order to ensure fully responsive wizzywig images whether they are floated
//  left, right, or not at all (centered). If these styles prove to be more
//  troublesome, we will simply remove them and look for an alternate solution.
//
////////////////////////////////////////////////////////////////////////////////

.image-caption-container {
  display: block !important; // shameful image_caption style override
  height: auto !important; // shameful image_caption style override
  max-width: 100% !important; // shameful override for inline style
  margin: 15px auto;

  &[style*="float:left"],
  &[style*="float: left"]{
    margin-right: 15px;
    margin-bottom: 15px;
  }

  &[style*="float:right"],
  &[style*="float: right"] {
    margin-left: 15px;
    margin-bottom: 15px;
  }

  img {
    height: auto !important; // shameful override for inline style
    max-width: 100% !important; // shameful override for inline style

    @media screen and (max-width: 970px) {
      width: 100% !important; // shameful override for inline style
    }
  }
}

.image-caption {
  border-bottom: 1px solid $alto;
  font-style: italic;
  @include font-size(12);
  padding: 15px 0;
}

.unformatted-image {
  margin: 30px 0 0 15px;
}

.content-body > .unformatted-image:first-of-type {
  margin-top: 0;
}




////////////////////////////////////////////////////////////////////////////////
//
//  #No Sidebars
//
////////////////////////////////////////////////////////////////////////////////

.node-type-1-wrapper {
  &.no-sidebars {
    background-color: $white;

    .col {
      float: none;
      margin: 0 auto;

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    .node-type-1-content {
      border: none;
    }
  }
}

.download-fixed {
  width: 100%;
  display: block!important;
  padding: 15px 1%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(30,31,32,0.95);

  @media screen and (max-width: 768px) {
    padding: 15px 5%;
  }

  .download-link-top-fixed {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);

    h1 {
      color: #fff;
      position: relative;
      display: inline-block;
      font-size: 24px;
      margin: 0 20px 0 60px;

      @media screen and (max-width: 1440px) { font-size: 20px; }
      @media screen and (max-width: 1280px) { font-size: 18px; }
      @media screen and (max-width: 768px) { display: none; }

      &::before {
        content: "";
        width: 12.6%;
        position: absolute;
        left: -60px;
        top: 50%;
        /* right: -6px; */
        // left: -78px;
        max-width: 45px;
        height: 2px;
        display: inline-block;
        background: #c32330;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.download-link-top {
  display: none;
  @media screen and (max-width: 768px) { display: none; }

  .wrapper {
    width: 75.2%;
    margin: 0 auto;
    max-width: 1440px;
    margin: 40px auto 40.8px;

    @media screen and (max-width: 1680px) { width: 80%; }
    @media screen and (max-width: 1440px) { width: 85%; }
    @media screen and (max-width: 1024px) { width: 92.2%; }
  }

  a {
    min-width: 230px;
    width: 11%;
    padding: 8px 1% 8px 1%;
    position: relative;
    color: #fff;
    font-family: "Milo";
    font-size: 17px;
    font-weight: bold;
    // background-color: #c32330;
    background-color: #4054b3;
    text-decoration: none;


    @media screen and (max-width: 768px) {
      width: 286px;
      padding: 8px 6%;
    }

    @media screen and (max-width: 440px) {
      width: 100%;
    }

    &::after {
      content: '';
      background: url(../images/icons/svg/download-report.svg) no-repeat;
      background-size: contain;
      position: absolute;
      top: 7px;
      right: 18px;
      width: 18px;
      height: 19px;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
    }

    //animation
    @keyframes bounces {
      0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -moz-transform:    translateY(0);
        -ms-transform:     translateY(0);
        -o-transform:      translateY(0);
        transform:         translateY(0);
      }
      40% {
        -webkit-transform: translateY(-8px);
        -moz-transform:    translateY(-8px);
        -ms-transform:     translateY(-8px);
        -o-transform:      translateY(-8px);
        transform:         translateY(-8px)
      }
      60% {
        -webkit-transform: translateY(-5px);
        -moz-transform:    translateY(-5px);
        -ms-transform:     translateY(-5px);
        -o-transform:      translateY(-5px);
        transform:         translateY(-5px);
      }
    }


    &:hover::after {
      cursor: pointer;

      @media screen and (min-width: 1024px) {
        -webkit-animation-name: bounces;
        -moz-animation-name: bounces;
        animation-name: bounces;
      }
    }
  }
}

.mobile-weekly-digest {
  display: none;

  @media screen and (max-width: 768px) { display: block; }

  .wrapper {
    width: 90%;
    margin: 0 auto;

    button {
      width: 100%;
      padding: 11px 19.75% 11px;
      border: 1px solid #979797;
      margin-top: 19px;
      background-color: $white;
      font-family: "Milo";
      font-size: 14px;
      font-weight: bold;
      color: #e3130b;
    }
  }
}

.block-system {
  .node-type-1-element-1 {
    .editor-sponsors {
      @media screen   and (max-width: 768px) { display: none; }
    }
  }
}

// .slick-slider { margin-bottom: 0; }