////////////////////////////////////////////////////////////////////////////////
//
//  Polls
//
////////////////////////////////////////////////////////////////////////////////

.node-advpoll {
  background-color: $shipgrey;
  margin-bottom: 20px;
  position: relative;

  @media screen and (max-width: 1000px) {
    margin: 0 auto 20px;
    max-width: 300px;
  }

  .links {
    text-align: center;
  }

  .content {
    padding: 0 13px 13px;
  }
  form > div {
    text-align: center;
  }
  input[type="radio"] {
    margin-left: 0;
    display: none;
    + label {
      padding-left: 30px;
      padding-top: 2px;
      display: block;
      width: 100%;
      @include font-size(12);
    }
    + label:before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 12px;
      background-color: $manatee;
      position: absolute;
      left: 11px;
      bottom: 11px;
      cursor: pointer;
    }
    &:checked + label:before {
      background-color: $red;
    }
  }
  .form-type-radios {
    border-bottom: 1px solid $mineshaft;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  .form-radios {
    .form-item {
      margin: 0 0 5px;
      padding: 9px;
      background-color: $mineshaft;
      border-radius: 5px;
      color: $white;
      &:hover {
        background-color: rgba($mineshaft, 0.8);
      }
    }
  }
  .field-name-field-primary-industry {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    padding: 3px 10px;
    box-shadow: none;
    text-align: right;
  }
  h2 {
    color: $white;
    margin: 15px 0 18px;
    padding: 0 13px;
    line-height: 20px;
    @include font-size(12);
  }
  .field-name-body,
  .field-name-field-body-en-gb,
  .total {
    display: none; // no description text shown on latest design
  }
  .poll-bar {
    position: relative;
    border-bottom: 1px solid $shark;
    padding: 20px 0 14px;
    margin: 0;
  }
  .text {
    position: relative;
    padding-left: 65px;
    margin-top: -24px;
    color: $white;
    @include font-size(12);
  }
  .percent {
    position: absolute;
    left: 65px;
    top: 20px;
    color: $white;
    @include font-size(18);
  }
  .poll {
    // first poll result is visually larger
    > div {
      &:first-of-type {
        padding: 30px 0 24px;
        border-top: 1px solid $mineshaft;
        .text {
          padding-left:90px;
          margin-top:-34px;
          @include font-size(14);
        }
        .percent {
          top: 24px;
          left: 88px;
          color: #be2330; // variable-ize me
          @include font-size(36);
        }
      }
      &:nth-child(2) {
        .percent {
          color: #79bae6; // variable-ize me
        }
      }
      &:nth-child(3) {
        .percent {
          color: #969545; // variable-ize me
        }
      }
      &:nth-last-child(2) {
        border-bottom: 1px solid $mineshaft ;
      }
    }
    .opinion-leader {
      text-align: center;
      h3 {
        font-weight: bold;
        text-transform: uppercase;
        color: $manatee;
        @include font-size(16);
      }
      button {
        margin: 10px 0 17px;
      }
    }
  }
  button.form-submit {
    margin: 0 auto 7px;
    line-height: 1;
  }
}
