////////////////////////////////////////////////////////////////////////////////
//
//  EIU Series listing page 
//
////////////////////////////////////////////////////////////////////////////////

.page-perspectives-series {
	.panel-display {
		.pane-1 {
			box-sizing: border-box;
			padding: 52px 2% 59px;
			margin-bottom: 39px;
			color: #fff;
			background-color: #262626;

			h1 { 
				margin: 0 0 9px;
				font-family: 'EconSansOs';
				font-size: 46px;
				font-weight: 700;
				text-align: center; 

				@media screen and (max-width: 820px) { font-size: 40px; }

				@media screen and (max-width: 520px) { font-size: 36px; }
			}

			p {
				padding: 10px 13% 0;
				margin-bottom: 0;
				font-family: 'EconSansOs';
				font-size: 20px;
				line-height: 31px;
				text-align: justify;

				@media screen and (max-width: 820px) {
					padding: 10px 5% 0;
					font-size: 19px;
					line-height: 28px;
					text-align: initial;
				}

				@media screen and (max-width: 520px) {
					font-size: 17px;
    				line-height: 25px;
    				text-align: justify;
				}
			}
		}

		.panel-col { width: initial; }

		.pane-2,
		.pane-4 {
			.pane-content {
				width: 100%;
				display: inline-block;

				h2 {
					color: #969696;
					font-family: 'EconSansOs';

					@media screen and (max-width: 650px) {
						font-size: 25px;
					}
				}

				div:first-child { display: inline-block; }
				
				.sponsor-img {
					width: 50%;
					float: right;
					position: relative;
					top: 17px;
					text-align: right;

					span {
						padding-right: 12px;
						display: inline-block;
						vertical-align: bottom;
					}

					a {
						width: 25%;
						display: inline-block;
					}

					@media screen and (max-width: 1000px) { top: 30px; }

					@media screen and (max-width: 500px) {
						width: 100%;
						padding-left: 7px;
						margin: 10px 0;
						float: initial;
						top: 0;
						text-align: initial;
					}					
				}
			}
		}

		.pane-3,
		.pane-5 { 
			color: #404040;

			@media screen and (max-width: 500px) {
				padding-left: 8px; 
				font-size: 14px;
			} 
		}

		.pane-eiu-series-topic {
			h2 { display: none; }

			.more-link { 
				padding-right: 10px;
				position: relative;
				bottom: 7px;
				font-family: 'EconSansOs';
				text-align: right;

				a {
					color: #969696;
					font-size: 1.2em;
					text-decoration: none;
					text-transform: capitalize;

					&:after {
						content: '\f054';
						font-family: FontAwesome;
						font-size: 14px; 
						font-weight: normal;
						font-style: normal;
						margin:0px 0px 0px 3px;
						text-decoration:none;
					}

					&:hover {
						color: #c32330;
					}
				} 
			}
		}
	}

	.flexslider {
		position: relative;

		.slides {
			padding-left: 0;

			> li { 
				position: relative; 

				&:hover {
					img {
						transform: scale(1.1);

						@media screen and (max-width: 1024px) { transform: scale(1) }
					}
				}
			}

			.field-name-field-primary-industry { 
				width: 100%;
				text-align: right; 

				> a {
					text-decoration: none;
					pointer-events: none;
				}
			}

			.field-name-field-hero-image {
				overflow: hidden;
				img { 
					width: 100%; 
					transition: all .5s linear;
				}
			}

			.views-field-title {
				width: 100%;
				padding: 0 10px;
				display: flex;
				align-items: center;
				background: rgba(0,0,0,0.75);
				position: absolute;
				bottom: 0;
				min-height: 60px;

				span, a { display: inherit; }

				a {
					text-decoration: none; 
					font-family: 'EconSansOs';
					color: #fff;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.8), 1px 1px 1px rgba(0,0,0,0.8);
				}
			}

		}

		.flex-control-nav { display: none; }

		.flex-direction-nav {
			height: 0;
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
			position: absolute;
			width: 100%;
			top: 42%;

			> li { 
				display: inline-block;
				position: relative;
				right: 13px;
			}

			.flex-nav-next {
				position: absolute;
				right: -13px;
				text-align: right;
			}

			a {
				width: 34px;
				height: 34px;
				display: block;
				text-decoration: none;
				border-radius: 50%;
				background: #7c7c7c;
				opacity: 0.8;

				&:hover {
					&:before { 
						color: #fff;

						@media screen and (max-width: 1024px) { color: #969696; } 					
					}
				}

				&:before {
					content: "\f104";
				    width: 20px;
				    height: 20px;
				    display: block;
					position: relative;
					bottom: 5px;
					left: 9px;
				    font-size: 30px;
				    font-family: 'FontAwesome';
					color: #969696;
				}
			}

			.flex-next {
				&:before {
					content: "\f105";
					left: 5px;
				}
			}
		}
	}
}