////////////////////////////////////////////////////////////////////////////////
//
//  Social Share
//
////////////////////////////////////////////////////////////////////////////////

h2.share-title {
  margin: 0 0 1em;
  @include font-size(26);
  color: $white;
}

.social-share {
  vertical-align: top;
  display: inline-block;
  width: 41px;
  height: 41px;
  margin-right: 0.5em;

  @media screen and (max-width: 768px) {
    width: 21.13%;
    height: 31px;
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-share a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -999em;
  background-color: $white;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &:hover {
    @media screen and (min-width: 1024px) {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  &.share-facebook {
    background: url(../images/icons/png/share/sprite_social.png) no-repeat -102px -49px;

    @media screen and (max-width: 768px) {
      // background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -102px -49px;
      background: url(../images/icons/png/share/facebook_share.png) no-repeat;
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1024px) { border-radius: 50%; }

    // &:hover {
    //   background-position: -102px 0;

    //   @include responsive(0,1024px) {
    //     background-position: -102px -50px;
    //   }
    // }
  }
  &.share-linkedin {
    background: url(../images/icons/png/share/sprite_social.png) no-repeat 0 -49px;

    @media screen and (max-width: 768px) {
      // background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat 0 -49px;
      background: url(../images/icons/png/share/linkedin_share.png) no-repeat;
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1024px) { border-radius: 50%; }
    // &:hover {
    //   background-position: 0 0;

    //   @include responsive(0,1024px) {
    //     background-position: 0 -50px;
    //   }
    // }
  }
  &.share-twitter {
    background: url(../images/icons/png/share/sprite_social.png) no-repeat -51px -49px;

    @media screen and (max-width: 768px) {
      // background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -51px -49px;
      background: url(../images/icons/png/share/twitter_share.png) no-repeat;
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1024px) { border-radius: 50%; }
    // &:hover {
    //   background-position: -51px 0;

    //   @include responsive(0,1024px) {
    //     background-position: -51px -50px;
    //   }
    // }
  }
  &.share-email {
    background: url(../images/icons/png/share/sprite_social.png) no-repeat -153px -49px;

    @media screen and (max-width: 768px) {
      // background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -153px -49px;
      background: url(../images/icons/png/share/email_share.png) no-repeat;
      background-size: 100% 100%;
    }

    @media screen and (min-width: 1024px) { border-radius: 50%; }
    // &:hover {
    //   background-position: -153px 0;

    //   @include responsive(0,1024px) {
    //     background-position: -153px -50px;
    //   }
    // }
  }
}




////////////////////////////////////////////////////////////////////////////////
//
//  Social Share - Industry Sidebar
//
////////////////////////////////////////////////////////////////////////////////

.sidebar-second {
  .social-media {
    margin-bottom: 20px;

    svg {
      height: auto;
      width: 30px;

      path {
        fill: $red;
      }
    }
  }
}


////////////////////////////////////////////////////////////////////////////////
//
//  Social Share - For Related content
//
////////////////////////////////////////////////////////////////////////////////


.node-type-1-sharing  {
  padding-right: 0;

  .share-title {
    display: none;
  }
}

.share-bottom {

  .node-type-1-sharing {
    border-bottom: none;
    text-align: left;

    .share-title {
    display: block;
    color: $frenchgray;
    font-size: 0.93333em;
    font-weight: bold;
    }
  }

}