////////////////////////////////////////////////////////////////////////////////
//
//  Whitepaper forms
//
////////////////////////////////////////////////////////////////////////////////

.node-background-wrapper {

	.content-body {
		box-sizing: border-box;
		width: 60%;
		// padding: 0 4% 0 0;
		display: inline-block;
		vertical-align: top;

		p {
			text-align: left;

			@include responsive(0,800px) { text-align: initial; }
		}

		> p {
			&:first-child { padding-top: 27px; }
		}

		@include responsive(0,800px) {
			width: 100%;
			padding: 0 4% 0;
		}
	}

	.eloqua-form {
		width: 100%;
		margin-top: 35px;
		display: inline-block;
		vertical-align: top;

	  @include responsive(0,800px) { width: 100%; }
	}

	.node-type-1-tags {
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;

		> div {
			display: inline-block;
			&:first-child {
				width: 70%;
				@include responsive(0,750px) { width: 100%; }
			}
		}

		.other-industries,
		.content-tags,
		.primary-indus {

			h4 {
				width: 113px;
				margin-right: 10px;
				display: inline-block;
			}
		}

		.other-industries,
		.primary-indus { padding-bottom: 12px; }
	}

	.share-bottom {
		float: right;

		@include responsive(0,750px) {
			width: 100%;
			margin-top: 20px;
		}

		.node-type-1-sharing { margin-top: 0; }
	}
}

.eloqua-form {
	select {
		font-size: 14.5px;
	}
}


