////////////////////////////////////////////////////////////////////////////////
//
//  Content pages
//
////////////////////////////////////////////////////////////////////////////////

.node-type-analysis,
.node-type-white-paper,
.node-type-video,
.node-type-infographic,
.node-type-blog,
.node-type-podcast,
.node-type-case-study,
.node-type-eiu-perspectives-series,
.node-type-feature-infographic,
.node-type-press-release,
.node-type-eiu-perspectives-series {
	.author-reference { margin-bottom: 5px; }
    .hero-banner,
    .series-banner {
        height: 597px;
        background-position: center top;
        background-repeat: no-repeat;
		background-size: cover;

        @include responsive(650px,1010px) {
            height: 430px;
        }
        @include responsive(0,649px) {
            height: 300px;
        }
        @include responsive(0,450px) {
            height: 230px;
        }
    }
    .nav-tabs {
        max-width: 1230px;
        margin: 0 auto;
    }
    .generic-page {
        padding-top: 0;
        background-color: #fff;
        .container {
            max-width: initial;
            padding: 0;
        }
        .span_12_of_12 { background-color: #fff; }
        .block-system {
            .node-type-1-content {
                // width: 100%;
                // max-width: 1230px;
                // padding: 0;
                // border-left: 0;
                // margin: 0 auto;
				// float: initial;

				.wrapper-outer-top { z-index: 1; }

				// h1 { font-weight: 700 }

				// h3 { font-weight: 700 }
            }
            .node-type-1-topMenu { display: none; }
            .left-menu { display: none; }
            .hero-banner {
                > div { margin-left: 0; }
                img { width: 100%; }
            }
            .node-type-1-wrapper {
                margin-top: 0;
                background-color: $white;
				@include responsive(0,600px) { padding: 0 15px; }
				@media screen and (max-width: 320px) { padding: 0; }
                .node-type-1-tags,
                .download-link-bottom,
                .field-name-field-body-en-gb,
                // .field-name-field-summary,
                // .field-name-body,
                .unformatted-image,
                .field-name-field-summary-iframe,
                .field-name-field-infographic-iframe,
                .whitepaper-form {
                    box-sizing: border-box;
                    // padding: 0 12%;

                    @include responsive(0,1024px) { padding: 0 8%; }
                    @include responsive(0,900px) { padding: 0 4%; }
                    @include responsive(0,500px) { padding: 0; }
				}

                .content-body {
                    // padding-top: 10px;
                    > p { padding-left: 15px; }

                    @include responsive(0,800px) {
                    > p { padding-left: 0; }
                    }
                    pre { overflow: scroll; }
                    @include responsive(0,500px) {
                    > p { text-align: initial; }
                    }
                }
                .field-name-body {
                    p {
                        a {
                            display: inline-block;
                            margin-bottom: 5px;
                        }
                    }
                }
                .node-type-1-tags {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .whitepaper-form {
                    .field-name-field-body-en-gb,
                    .field-name-field-summary,
                    .field-name-body { padding: 0; }
                }
            }
        }
        .linkedin_btn {
            padding-bottom: 8px;
            position: initial;
            text-align: center;
        }
    }
    .editor-profile {
        .right-corner {
            a {
                display: inline-block;
                color: #e3120a;
            }
        }
    }
    .related-content {
        padding: 0 15px 15px;
        .view-content { padding-top: 0; }
        @include responsive(0,600px) {
            padding: 0 0 15px;
        }
        h2 {
            @include responsive(0,370px) { text-align: left; }
        }
    }
    .reference-content {
        padding: 35px 30px 30px;
        margin-top: 40px;
        font-family: 'EconSansOs';
        @include responsive(0,500px) {
            margin-top: 10px;
        }
    }
    .hero-gradient { display: none; }
    .date-social {
        width: 100%;
        // padding: 10px 12%;
        display: inline-block;
        clear: both;
        // border-top: 1px solid #d9d9d9;
        // @include responsive(0,1024px) { padding: 10px 8%; }
        // @include responsive(0,900px) { padding: 10px 4%; }
        .node-info-wrapper {
            width: 73%;
            display: inline-block;
            margin-top: 7px;
            font-size: 17px;
            color: #404040;
            .region {
                width: 118px;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                vertical-align: top;
                @include responsive(0,1024px) { width: 100px; }
            }
            .icon-location,
            .region {
                @include responsive(0,370px) { display: none; }
            }
            @include responsive(0,950px) {
                font-size: 15px;
            }
            @include responsive(0,900px) {
                width: 100%;
                margin-top: 0;
            }
        }
        .node-type-1-sharing {
            padding: 0;
            margin: 0;
            float: right;
            border-bottom: 0;
            @include responsive(0,900px) {
                display: none;
            }
        }
    }
    .editor-sponsors {
        padding: 0;
        margin-bottom: 0;
		display: inline-block;

		@media screen and (max-width: 320px) { width: 50%; }

        .sponsored-by,
        .sponsored-by-logo { margin: 0; }
        .sponsor-image {
            @include responsive(0,400px) {
                width: 230px !important;
                height: 90px !important;
            }
        }
        .sponsored-by {
            font-size: 18px;
            padding-bottom: 5px;
            @include responsive(0,550px) {
                font-size: 14px;
            }
        }
    }
    .span_4_of_12,
    .span-4-of-12 {
        height: 400px;
        padding: 10px 10px 20px;
        margin-bottom: 25px;
        position: relative;
        background-color: $white;
        -webkit-transition: all .3s linear;
				-o-transition: all .3s linear;
				transition: all .3s linear;
        @include responsive(0, 1024px) {
            // border: 1px solid #d9d9d9;
        }
        @include responsive(769px, 1024px) {
            height: 355px;
        }
        @include responsive(0,768px) {
            height: auto;
            margin-bottom: 12px;
        }
        a {
            text-decoration: none;
            @include responsive(0,1024px) {
                &:hover {
                    text-decoration: none;
                    color: #e3120a;
                }
            }
        }
        &:hover {
            // transform: scale(1.04);
            // box-shadow: 0px 3px 5px 1px #808080;
        }
        @include responsive(0,1024px) {
            &:hover {
								-moz-transform: none;
								-o-transform: none;
								-ms-transform: none;
								-webkit-transform: none;
								transform: none;
								-moz-box-shadow: none;
								-webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        .field-content {
            h3 {
                position: initial;
				padding-top: 15px;
				margin-bottom: 20px;
                font-size: 20px;
				font-family: 'Milo';
				font-weight: bold;
                color: #e3120a;

				// @include responsive(0,768px) {
				// 	font-size: 20px;
				// }

                @include responsive(0,768px) {
                    // padding-top: 0;
                    // position: initial;
                    // bottom: 40px;
                }
                @include responsive(0,450px) {
                    font-size: 16px;
                }
            }
            .img-responsive { width: 100%; }
        }
        .content-type {
            padding: 2px 9px;
            position: absolute;
            top: 50px;
            left: 21px;
            background: rgba(0,0,0,0.46);
            color: #fff;
            font-size: 17px;
            &:first-letter { text-transform: capitalize; }
            @include responsive(0,850px) {
                font-size: 16px;
            }
            @include responsive(0,450px) {
                font-size: 14px;
            }
        }
    }
}

.node-type-eiu-perspectives-series {
	.field-name-body,
	.field-name-field-summary {
		padding-bottom: 15px;
		font-size: 22px;
    	line-height: 34px;
    	margin-top: 18px;

    	@include responsive(0,550px) {
			font-size: 17px;
			line-height: 29px;
		}
	}

	.editor-sponsors { padding-left: 12px; }

	.field-name-field-summary {
		color: $black;

		.field-label {
			/*color: #e43918; */
			position: relative;
			top: 58px;
			left: 30px;
			color: $black;
		}

		.field-items {
			/*padding: 20px;
			background: #918d8d;*/
			padding: 60px 30px 30px;
			background: #f0f0ee;

			.field-item {
				font-size: 20px;
			}
		}
	}

	.field-name-field-primary-industry {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: right;
	}

	.reference-img {
		img { width: 100%; }
	}

	.reference-content {
		@include responsive(0,450px) {
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 20px;
		}

		@include responsive(0,500px) {
			h2 {
				margin-top: 0;
				font-size: 25px;
			}
		}
	}

	.field-content {
		h3 {
			@include responsive(0,768px) {
				left: 20px;
				right: 20px;
			}
		}
	}

	.content-title {
		box-sizing: border-box;
		padding: 0 15px !important;
		clear: both;
	}

	.date-social { border-bottom: 1px solid #d9d9d9; }
}

.node-type-infographic {
	.unformatted-image { margin-left: 0; }
}

.node-type-analysis {
	.date-social {
		// border-bottom: 1px solid #d9d9d9;
	}
}

.node-type-article, .node-type-infographic, .node-type-blog, .node-type-video, .node-type-case-study, .node-type-white-paper, .node-type-analysis, .node-type-eiu-perspectives-series {
	.author-reference,
	.node-type-press-release {
		margin-bottom: 5px;

		@media screen and (min-width: 769px) { margin-bottom: 69px; }
	}

	.quick-links {
		margin-bottom: 10px;
		padding-left: 23px;
		position: relative;
		color: #121212;
		cursor: pointer;
		font-family: "EconSansOs";
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-decoration: none;
		-webkit-transition: all .3s linear;
	    -o-transition: all .3s linear;
		transition: all .3s linear;

		&::before {
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
    		top: -9px;
    		left: 0;
			background: url("../images/icons/svg/Group.svg") no-repeat;
			background-position: 0% 100%;
		}
		
		
	    &:last-of-type {
	    	margin-bottom: 15px;
	    }

		@media screen and (min-width: 768px) { 
			&:hover {
				color: #121212;
				text-decoration: underline;
			}
		}
	}

	.none { display: none; }

	#hider,
	#shower,
	.hide-class a[data-ctrl],
	.show-class a[data-ctrl] {
		background-color: transparent;
		border: none;
		color: #404040;
		cursor: pointer;
		font-weight: bold;
		outline: none;
		text-decoration: none;
		-webkit-transition: all .3s linear;
	    -o-transition: all .3s linear;
	    transition: all .3s linear;

		@media screen and (min-width: 1024px) { 
			&:hover { text-decoration: underline; }
		}
	}


	.hero-banner,
	.series-banner {
		height: 450px;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;

		// @media screen and (max-width: 1440px) { height: 480px; }
		// @media screen and (max-width: 1302px) { height: 400px; }
		// @include responsive(769px,1010px) { height: 430px; }
		// @include responsive(0,768px) { height: auto; }
		// @include responsive(0,450px) { height: 170px;}
		@media screen and (max-width: 768px) {
			height: auto;
		}
	}

	.hero-banner {
		overflow: hidden;
	}

	.nav-tabs {
		max-width: 1230px;
		margin: 0 auto;
	}

	.generic-page {
		padding-top: 0;
		background-color: #fff;

		.container {
			max-width: initial;
			padding: 0;
		}

		.span_12_of_12 { background-color: #fff; }

		.block-system {
			.node-type-1-content {
				// width: 100%;
    			max-width: 100%;
				padding: 0;
				border-left: 0;
			    margin: 0 auto;
    			float: initial;
			}

			.node-type-1-topMenu { display: none; }

			.left-menu { display: none; }

			.hero-banner {
				> div {
						margin-left: 0;
						width: 100%;
						height: 100%;

						> img {
							width: 100%;
							// height: auto;
							height: 450px;
							object-fit: cover;
							@media screen and (max-width: 768px) {
								height: 250px;
								width: auto;
							}

						}
					}
				.field-name-field-hero-image {
					&::after {
						content: " ";
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 0;
						background-image: linear-gradient(to left, rgba(255,255,255,0.1) 32%, rgba(0,0,0,0.56) 100%);

						@media screen and (max-width: 768px) { background: none; height: auto; }
					}
				}
				img { width: 100%; }
			}

			.node-type-1-wrapper {
				padding-top: 69px;
				margin-top: 0;
				background-color: $white;
				@media screen and (max-width: 1680px) { padding-top: 35px; }
				@media screen and (max-width: 1680px) { padding-top: 30px; }
				@media screen and (max-width: 768px) {
					width: 100%;
					overflow: hidden;
					padding: 0;
				}

				> div {
					width: 75.2%;
					margin: 0 auto;
					max-width: 1440px;

					@media screen and (max-width: 1680px) { width: 80%; }
					@media screen and (max-width: 1440px) { width: 85%; }
					@media screen and (max-width: 1024px) { width: 92.2%; }
					@media screen and (max-width: 768px) {
						width: 100%;
						overflow: hidden;
						padding: 0;
						margin: 0;
					}
				}

				.node-type-1-tags,
				.download-link-bottom,
				.field-name-field-body-en-gb,
				// .field-name-field-summary,
				// .field-name-body,
				.unformatted-image,
				.field-name-field-summary-iframe,
				.field-name-field-infographic-iframe,
				.whitepaper-form {
					box-sizing: border-box;
					// padding: 0 12%;

					// @include responsive(0,1024px) { padding: 0 8%; }

					// @include responsive(0,900px) { padding: 0 4%; }
					@include responsive(0,900px) { padding: 0; }

					@include responsive(0,500px) { padding: 0; }
				}

				.content-body {
					// padding-top: 10px;

					> p { padding-left: 15px; }

					@include responsive(0,800px) {
					> p { padding-left: 0; }
					}

					pre { overflow: scroll; }

					@include responsive(0,500px) {
					> p { text-align: initial; }
					}

					.mobile-none {
						@media screen and (max-width: 768px) {
							display: none;
						}
					}

					.mobile-image {
						@media screen and (min-width: 769px ) {
							display: none;
						}
					}

				}

				.field-name-body {
					p {
						a {
							display: inline-block;
							margin-bottom: 5px;
						}
					}
				}

				.node-type-1-tags {
					padding-top: 20px;
					padding-bottom: 20px;
				}

				.whitepaper-form {
					.field-name-field-body-en-gb,
					.field-name-field-summary,
					.field-name-body { padding: 0; }
				}
			}
		}

		.linkedin_btn {
			padding-bottom: 8px;
			position: initial;
			text-align: center;
		}
	}

	.editor-profile {
		.right-corner {
			a {
				display: inline-block;
				font-size: 16px;
				color: #404040;
				line-height: 1.88;
			}

			.read-more-editor a {
				color: #121212;
				font-weight: 700;
			}

			.editor-name {
				a {
					&::before {
						// content: "Editor:"
					}
				}
			}

			// .editor-contributor {
			// 	&::after {
			// 		content: ", The Economist Intelligence Unit"
			// 	}
			// }
		}
	}

	.related-content {
		padding: 0 15px 15px;

		.view-related-content {
			.slick-initialized {
				.span-4-of-12 {
					.views-field-nothing {
						+ div {
							display: none;
						}
					}
				}
			}
		}

		.view-content { padding-top: 0; }

		@include responsive(0,600px) {
			padding: 0 0 15px;
		}

		h2 {
			@include responsive(0,370px) { text-align: left; }
		}
	}

	.reference-content {
		padding: 35px 30px 30px;
		margin-top: 40px;
		font-family: 'EconSansOs';

		@include responsive(0,500px) {
			margin-top: 10px;
		}

	}

	.hero-gradient { display: none; }

	.date-social {
		width: 100%;
		// padding: 10px 12%;
		// display: inline-block;
		// display: flex;
		@include flexbox;
		// flex-direction: column;
		@include flex-direction(column);
		clear: both;
		// border-top: 1px solid #d9d9d9;

		// @include responsive(0,1024px) { padding: 10px 8%; }

		// @include responsive(0,900px) { padding: 10px 4%; }
		margin-top: 30px;
		// @media screen and (max-width: 1024px) { margin-top: 17px; }
		@media screen and (max-width: 768px) {
			margin-top: 0;
			// display: flex;
			@include flexbox;
			width: 142px;
			// justify-content: space-between;
			@include justify-content(space-between);
		}

		.node-info-wrapper {
			width: 73%;
			display: inline-block;
			// margin-top: 7px;
			font-size: 17px;
			color: #404040;

			.region {
				width: 118px;
			    white-space: nowrap;
			    overflow: hidden;
			    display: inline-block;
			    text-overflow: ellipsis;
			    vertical-align: top;

			    @include responsive(0,1024px) { width: 100px; }
			}

			.icon-location,
			.region {
				@include responsive(0,370px) { display: none; }
			}

			@include responsive(0,950px) {
				font-size: 15px;
			}

			@include responsive(0,900px) {
				width: 100%;
				margin-top: 0;
			}
		}

		.node-type-1-sharing {
			padding: 0;
			margin: 0;
			float: right;
			border-bottom: 0;

			@media screen and (max-width: 1024px) {
				display: initial;
			}
			// @media screen and (max-width: 768px) { margin-top: 8px; }
			// @include responsive(0,900px) {
			// 	display: none;
			// }

			.share-wrap {
				float: left;
				margin-top: 10px;

				@media screen and (max-width: 768px) {
					margin-top: 8px;
					width: 142px;
					@include flexbox;
					@include justify-content(space-between);

				}
			}
		}
	}

	.editor-sponsors {
		padding: 0;
		margin-bottom: 0;
		display: inline-block;
		@media screen and (max-width: 768px) {
			width: 50%;
			text-align: right;
			width: 40%;
		}
		.sponsored-by {text-align: right; }
		.sponsored-by,
		.sponsored-by-logo { margin: 0; }

		.sponsor-image {
			@include responsive(0,400px) {
				width: 230px !important;
				height: 90px !important;
			}
		}

		.sponsored-by {
			font-size: 18px;
			// padding-bottom: 5px;

			@include responsive(0,550px) {
				font-size: 14px;
			}
		}
	}

	.span_4_of_12,
	.span-4-of-12 {
		height: auto;
		// padding: 10px 5px 20px;
		padding: 0;
		margin-bottom: 10px;
		position: relative;
		background-color: $white;
		-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;

		@include responsive(0,768px) {
			margin-bottom: 12px;
		}

		.field-name-field-primary-industry {
			margin-top: 18px;
			display: none;
			background: none!important;
			color: #404040;
			text-align: left;
			text-transform: capitalize;
			font-size: 15px;
			font-family: "Milo";
			font-weight: normal;
			padding: 0;
			line-height: normal;

			@media screen and (max-width: 990px) {
				font-size: 13px;
			}

			@include responsive(0,768px) {
				font-size: 15px;
			}
		}

		a {
			text-decoration: none;
			@include responsive(0,1024px) {
				&:hover {
					text-decoration: none;
					color: #e3120a;
				}
			}
		}

		&:hover {
			// transform: scale(1.04);
			// box-shadow: 0px 3px 5px 1px #808080;
		}

		@include responsive(0,1024px) {
			&:hover {
				-moz-transform: none;
				-o-transform: none;
				-ms-transform: none;
				-webkit-transform: none;
				transform: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		.field-content {
			h3 {
				position: initial;
				padding: 15px 0 0 0;
				margin-bottom: 15px;
				font-size: 16px;
				font-family: "Milo";
				font-weight: 400;
				color: #404040;
				line-height: normal;
				text-shadow: none;

				@media screen and (max-width: 1680px) { font-size: 16px; }
				@media screen and (max-width: 990px) { font-size: 14px; }

				@include responsive(0,768px) {
					padding-top: 21px;
					font-size: 18px;
				}
			}

			p {
				display: none;
				font-family: "Milo";
				margin-top: 15px;
				margin-bottom: 15px;
				line-height: 1.5;
				font-size: 16px;
				color: #404040;
				font-weight: normal;
				@media screen and (max-width: 990px) { font-size: 13px; }
				@include responsive(0,768px) { display: none; }
			}

			a {
				font-family: "Milo";
				margin-top: 15px;
				font-size: 14px;
				font-weight: bold;
				line-height: normal;
				color: #404040;
				outline: none;

				@media screen and (max-width: 990px) { font-size: 12px; }

				@include responsive(0,768px) {
					font-size: 14px;
					margin-top: 21px;
				}
			}
			.img-responsive { width: 100%; }
		}

		.content-type {
			display: none;
			padding: 2px 9px;
			position: absolute;
			top: 50px;
			left: 21px;
			background: rgba(0,0,0,0.46);
			color: #fff;
			font-size: 17px;

			&:first-letter { text-transform: capitalize; }

			@include responsive(0,850px) {
				font-size: 16px;
			}

			@include responsive(0,450px) {
				font-size: 14px;
			}
		}
	}
}

.node-type-video,
.node-type-press-release {
	.node-type-1-content {
		.wrapper-outer-top {
			margin-top: 30px;
			position: static;
			-moz-transform: translateY(0);
			-o-transform: ntranslateY(0);
			-ms-transform: translateY(0);
			-webkit-transform: translateY(0);
			transform: translateY(0);

			h1 { color: #000 }

			h3 {
				color: #000;

				&:before {
					background-color: gray;
				}
			}

			.node-type-1-sharing {
				float: left;

				.social-share {
					.share-linkedin { background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat 0 -49px; }
					.share-twitter { background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -51px -49px; }
					.share-facebook { background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -102px -49px; }
					.share-email { background: url(../images/icons/png/share/sprite_social_mobile.png) no-repeat -153px -49px; }
				}
			}

			.date-social {
				.date-social-containers {
					// display: flex;
					// justify-content: space-between;
					@include flexbox;
					@include justify-content(space-between);
					margin-top: 30px;
					margin-bottom: 20px;

					.social-container {
						// display: flex;
						// flex-direction: column;
						@include flex-direction(column);
						@include flexbox;

						.publish-date {
							color: #404040;
							font-family: "EconSansOs";
							font-size: 18px;
							line-height: 2.14;
						}
					}

					.editor-sponsors { text-align: right; }
				}
			}

		}

		.wrapper-outer-bottom {
			position: static;
			display: none;
			@media screen and (max-width: 768px) { display: block; }



			.editor-sponsors { float: right; }
		}
	}

	.node-type-1-wrapper {
		.node-type-1-content {
			padding-top: 17px;

			.social-container {
				// display: flex;
				// flex-direction: column;
				// align-items: flex-start;
				@include flexbox;
				@include flex-direction(column);
				@include align-items(flex-start);
				@media screen and (min-width: 769px) { display: none; }
				.node-type-1-sharing {
					border-bottom: none;
					margin-top: 10px;
				}

				.publish-date {
					@media screen and (max-width: 768px) {
						font-size: 14px;
						color: #404040;
					}
				}

			}
		}
	}
	
	.node-type-1-element-1 .mobile-wrapper .editor-sponsors { display: none; }
}

.node-type-analysis {

	.node-type-1-content .node-type-1-container .content-body,
	.node-type-1-element-1 {
		margin-bottom: 30px;
	}

	.author-reference {
		margin-top: 0;
	}
	.analysis-series {

		margin-top: 0;
		margin-bottom: 50px;
		padding: 0;

		@media screen and (max-width: 768px) {
			width: 95%;
			margin-left: 5%;
		}

		.article-feed-container {
			@include flexbox;
			@include flex-wrap(wrap);
		}

		.field-name-field-primary-industry {
			display: none;
		}

		.span_4_of_12 {
			// margin: 0 1% 30px 0;
			width: 31.74%;
			margin: 0 0 0 2.32%;
			outline: none;

			@media screen and (min-width: 769px) {
				@include flexbox;
				@include align-items(stretch);
			}


			@media screen and (min-width: 769px) {
				&:nth-child(3n - 2) { margin: 0; }
				&:nth-child(n + 4) { margin-top: 30px; }
			}

			@media screen and (max-width: 768px) {
				width: 100%;
				margin: 0 1.45% 0 0;

				// &:nth-child(n + 4) { margin-top: 20px; }
				// &:nth-child(3n - 2) { margin: 0 1.45% 0 0; }
			}

			.field-content {
				position: relative;
			}

			.read-more-wrapper {
				margin-top: 15px;

				a { 
					font-family: "EconSansOs";
					font-size: 18px;
				}

				@media screen and (max-width: 768px) {
					// position: absolute;
					// bottom: 0;
					margin-top: 21px;
				}
			}

			p {
				padding-bottom: 15px;
			}

			h3 {
				@include flexbox;
				@include align-items(flex-start);
				position: initial;
				padding: 15px 0 0 0;
				margin-bottom: 0;
				font-size: 16px;
				font-family: "Milo";
				font-weight: 400;
				color: #404040;
				line-height: normal;
				text-shadow: none;

				@media screen and (max-width: 768px) {
					padding: 21px 0 0 0;
				}
			}

		}

		a {
			display: inline;

			&:after {
				content: "";
				width: 15px;
				height: 11px;
				position: absolute;
				margin: 5px 0 0 12px;
				background: url(../images/icons/svg/Group.svg) no-repeat;
				background-size: contain;
				-webkit-transition: 300ms -webkit-transform ease-in-out;
				transition: 300ms -webkit-transform ease-in-out;
				transition: 300ms transform ease-in-out;
				transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
				@media screen and (max-width: 768px) {
					margin: 4px 0 0 12px;
				}
			}

			&:hover::after {
				-moz-transform: translateX(5px);
				-o-transform: translateX(5px);
				-ms-transform: translateX(5px);
				-webkit-transform: translateX(5px);
				transform: translateX(5px);
			}
		}

		h2 {
			position: relative;
			display: block;
			border-top: 1px solid rgba(216, 216, 216, 0.7);
			border-bottom: 1px solid rgba(216, 216, 216, 0.7);
			text-align: left;
			margin-bottom: 57px;
			font-family: "EconSansOs";
			font-weight: bold;
			padding: 8px 0 8px 3.1%;

			@media screen and (min-width: 769px) { padding-left: 3.1%; }
			@media screen and (max-width: 768px) {
				display: inline-block;
				margin-bottom: 23px;
				border: none;
				font-size: 18px;
				padding: 0;
			}



			&::before {
				content: "";
				position: absolute;
				max-width: 67px;
				width: 9.4%;
				height: 2px;
				display: inline-block;
				background: #c32330;
				left: -11%;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);

				@media screen and (max-width: 768px) {
					width: 14%;
					left: -25%;
				}
			}
		}

		.feed-container {
			.field-name-body {
				p:not(:first-child) { display: none; }
				div:not(:first-child) { display: none; }

				div, p {
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}
		}

		.related-content.author-reference { width: 100%; }
	}
}

.node-type-white-paper {

	.content-title.node-type-1-content {
		max-width: 100%;
		padding: 0;
		border-left: 0;
		margin: 0 auto;
		float: initial;
	}

	.hero-banner {
		> div {
				margin-left: 0;
				width: 100%;
				height: 100%;

				> img {
					width: 100%;
					height: auto;
				}
			}
		.field-name-field-hero-image {
			&::after {
				content: " ";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				background-image: linear-gradient(to left, rgba(255,255,255,0.1) 32%, rgba(0,0,0,0.56) 100%);

				@media screen and (max-width: 768px) { background: none }
			}
		}
		img { width: 100%; }
	}


	.generic-page .block-system .node-type-1-wrapper .content-body {
		> p { padding: 0; }
	}

	.node-type-1-wrapper {
		padding-top: 69px;
		margin-top: 0;
		background-color: $white;
		@media screen and (max-width: 1680px) { padding-top: 35px; }
		@media screen and (max-width: 1680px) { padding-top: 30px; }
		@media screen and (max-width: 768px) {
			width: 100%;
			overflow: hidden;
			padding: 0;
		}

		> .span_9_of_12 {
			border: none;
			float: none;
		}

		> div {
			width: 75.2%;
			margin: 0 auto;
			max-width: 1440px;

			@media screen and (max-width: 1680px) { width: 80%; }
			@media screen and (max-width: 1440px) { width: 85%; }
			@media screen and (max-width: 1024px) { width: 92.2%; }
			@media screen and (max-width: 768px) {
				width: 100%;
				overflow: hidden;
				padding: 0;
				margin: 0;
			}
		}

		.node-type-1-tags,
		.download-link-bottom,
		.field-name-field-body-en-gb,
		// .field-name-field-summary,
		// .field-name-body,
		.unformatted-image,
		.field-name-field-summary-iframe,
		.field-name-field-infographic-iframe,
		.whitepaper-form {
			box-sizing: border-box;
			// padding: 0 12%;

			// @include responsive(0,1024px) { padding: 0 8%; }

			// @include responsive(0,900px) { padding: 0 4%; }
			@include responsive(0,900px) { padding: 0; }

			@include responsive(0,500px) { padding: 0; }
		}

		.content-body {
			// font-family: "Milo";
			font-family: "EconSansOs";
			// padding-top: 10px;

			> p { padding-left: 15px; }

			@include responsive(0,800px) {
			> p { padding-left: 0; }
			}

			pre { overflow: scroll; }

			@include responsive(0,500px) {
			> p { text-align: initial; }
			}

		}

		.field-name-body {
			p {
				a {
					display: inline-block;
					margin-bottom: 5px;
				}
			}
		}

		.node-type-1-tags {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.node-type-1-content {
			.node-type-1-container {
				.editor-sponsors {
					@media screen and (max-width: 768px) { display: none; }
				}

				.whitepaper-form {
					.content-body { width: 100%!important; }

					.field-name-field-body-en-gb,
					.field-name-field-summary,
					.field-name-body { padding: 0; }
				}
			}
		}
	}
}

.node-type-press-release {
	.node-background-wrapper { background-color: #fff; }

	.node-type-1-content {
		@media screen and (max-width: 768px) {
			width: 90%;
			margin: 0 auto;
			border-left: 0;
		}
	}

	.generic-page .main-container.container {
		max-width: initial;
		padding: 0;
		background-color: #fff;

		@media screen and (max-width: 768px) {
			.content-editor {
				text-align: right;
				.sponsored-by {
					display: inline-block;
				}
			}
		}

		.node-type-1-wrapper {
			padding-top: 69px;
			margin-top: 0;
			background-color: $white;
			@media screen and (max-width: 1680px) { padding-top: 35px; }
			@media screen and (max-width: 1680px) { padding-top: 30px; }
			@media screen and (max-width: 768px) {
				width: 100%;
				overflow: hidden;
				padding: 0;
			}

			> .span_9_of_12 {
				border: none;
				float: none;
			}

			> div {
				width: 75.2%;
				margin: 0 auto;
				max-width: 1440px;

				@media screen and (max-width: 1680px) { width: 80%; }
				@media screen and (max-width: 1440px) { width: 85%; }
				@media screen and (max-width: 1024px) { width: 92.2%; }
				@media screen and (max-width: 768px) {
					width: 100%;
					overflow: hidden;
					padding: 0;
					margin: 0;
				}
			}

			.node-type-1-tags,
			.download-link-bottom,
			.field-name-field-body-en-gb,
			// .field-name-field-summary,
			// .field-name-body,
			.unformatted-image,
			.field-name-field-summary-iframe,
			.field-name-field-infographic-iframe,
			.whitepaper-form {
				box-sizing: border-box;
				// padding: 0 12%;

				// @include responsive(0,1024px) { padding: 0 8%; }

				// @include responsive(0,900px) { padding: 0 4%; }
				@include responsive(0,900px) { padding: 0; }

				@include responsive(0,500px) { padding: 0; }
			}

			.content-body {
				font-family: "EconSansOs";
				flex-basis: 100%!important;

				> p { padding-left: 15px; }

				@include responsive(0,800px) {
				> p { padding-left: 0; }
				}

				pre { overflow: scroll; }

				@include responsive(0,500px) {
				> p { text-align: initial; }
				}

			}

			.field-name-body {
				p {
					a {
						display: inline-block;
						margin-bottom: 5px;
					}
				}
			}

			.node-type-1-tags {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			.node-type-1-content {
				.node-type-1-container {
					.editor-sponsors {
						@media screen and (max-width: 768px) { display: none; }
					}

					.whitepaper-form {
						.content-body { width: 100%!important; }

						.field-name-field-body-en-gb,
						.field-name-field-summary,
						.field-name-body { padding: 0; }
					}
				}
			}
		}
		.date-social {
			.node-type-1-sharing { border-bottom: 0px; }
		}

		.wrapper-outer-top,
		.wrapper-outer-bottom  {
			@media screen and (max-width: 768px) {
				.wrapper { width: 100%; }
			}
		}

		.date-social {
			.node-type-1-sharing {
				padding: 0;
				margin: 0;
				float: right;
				border-bottom: 0;
				width: 100%;
	
				@media screen and (max-width: 1024px) {
					display: initial;
				}
	
				.share-wrap {
					float: left;
					margin-top: 10px;
	
					@media screen and (max-width: 768px) {
						margin-top: 8px;
						width: 142px;
						@include flexbox;
						@include justify-content(space-between);
	
					}
				}
			}
		}

		.related-content {
			margin-bottom: 69px;

			.col.span-4-of-12 {
				@media screen and (max-width: 768px) {
					margin: 0px 1.45% 0px 0px;
				}
			}

			.view-related-content {
				.view-content {
					.col.span-4-of-12 {
						padding: 0;
    				height: 100%;
					}
				}
			}

			h3 {
				padding: 18px 0 0 0;
				font-family: "Milo";
				color: #404040;
				font-weight: normal;	
				line-height: normal;
				font-size: 16px;
				text-shadow: none;
			}
			

			.field-name-field-primary-industry { display: none; }
		}
	}
}

.node-type-eiu-perspectives-series {
	.node-type-1-content { padding: 0!important; }
	.field-label { display: none; }
	.date-social { border-bottom: 0; }
}