////////////////////////////////////////////////////////////////////////////////
//
//  EIU Perspectives Series - 404 and 403 pages
//
////////////////////////////////////////////////////////////////////////////////

.node-type-page {
	.node-type-1-sharing { display: none; }

	.node-type-1-content {
		h1 { padding-left: 0; }
	}

	.span_12_of_12 { padding-bottom: 205px; }
} 