////////////////////////////////////////////////////////////////////////////////
//
//  Industry Centric Pages
//
////////////////////////////////////////////////////////////////////////////////

.industry-page {
  /*margin-top: 28px;*/
}

.industry-centric-term-wrapper {
  color: $white;
  /*height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;*/

  > div {
    padding: 7px 10px;
  }
}
